{% load static %}
<div class="container-fluid position-relative instagram p-0 mt-5">
    <a href="{{ instagram_link }}" class="d-flex align-items-center justify-content-center position-absolute top-50 start-50 translate-middle bg-white rounded-circle" style="width: 100px; height: 100px; z-index: 1;">
        <i class="fab fa-instagram fa-2x text-secondary"></i> 
    </a>
    <div class="row g-0">
        {% for image in instagram_images %}
        <div class="col-lg-2 col-md-3 col-sm-4 wow fadeIn bg-dark text-red" data-wow-delay="0.{{ forloop.counter }}s">
            <a href="{{ image.link|default:instagram_link }}" target="_blank">
                <img class="img-fluid" src="{{ image.image.url }}" alt="Instagram Image">
            </a>
        </div>
        {% endfor %}
    </div>
</div>