{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Hero Start -->
    <section class="container-fluid p-5 mb-5 bg-dark text-secondary">
        <div class="row g-5 py-5">
            <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                <h1 class="display-1 text-secondary text-center mb-0">John Doe</h1>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid rounded mb-3" src="{% static 'img/hero-2.jpg' %}">
                <p>
                    <i class="bi bi-arrow-down animate-up-down" style="font-size: 3rem;"></i>
                </p>
                <p class="mb-0">
                    Diam dolor diam ipsum et, tempor voluptua sit consetetur sit. Aliquyam diam amet diam et eos
                    sadipscing labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo
                    justo et tempor consetetur takimata eirmod.
                </p>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="{% static 'img/hero-1.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                <p>
                    Diam dolor diam ipsum et, tempor voluptua sit consetetur sit. Aliquyam diam amet diam et eos
                    sadipscing labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo
                    justo et tempor consetetur takimata eirmod.
                </p>
                <p>
                    <i class="bi bi-arrow-up animate-up-down" style="font-size: 3rem;"></i>
                </p>
                <img class="img-fluid rounded" src="{% static 'img/hero-3.jpg' %}">
            </div>
        </div>
    </section>
    <!-- Hero End -->

    <!-- About Start -->
    <section class="container-fluid p-5">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0 wow fadeIn" data-wow-delay="0.1s" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <div class="position-absolute top-0 start-0 animate-rotate"
                        style="width: 160px; height: 160px;">
                        <img class="img-fluid" src="{% static 'img/about-round.jpg' %}" alt="">
                    </div>
                    <img class="position-absolute w-100 h-100 rounded-circle rounded-bottom rounded-end"
                        src="{% static 'img/about.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4 wow fadeIn" data-wow-delay="0.2s">
                    <h5 class="section-title">About Us</h5>
                    <h1 class="display-3 mb-0">Cooking Together With The Expert</h1>
                </div>
                <p class="mb-4 wow fadeIn" data-wow-delay="0.3s">Nonumy erat diam duo labore clita. Sit magna ipsum dolor sed ea duo at ut. Tempor sit
                    lorem sit magna ipsum duo. Sit eos dolor ut sea rebum, diam sea rebum lorem kasd ut ipsum dolor est
                    ipsum. Et stet amet justo amet clita erat, ipsum sed at ipsum eirmod labore lorem.</p>
                <div class="row">
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                        <div class="bg-light rounded p-4">
                            <img class="img-fluid bg-primary rounded-circle mb-3" src="{% static 'img/feature-1.png' %}" style="width: 80px; height: 80px;">
                            <h4>Master Chefs</h4>
                            <p class="mb-0">Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam
                                ipsum et, tempor voluptua sit consetetur sit. Aliquyam diam amet diam et eos sadipscing
                                labore.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="bg-light rounded p-4">
                            <img class="img-fluid bg-primary rounded-circle mb-3" src="{% static 'img/feature-3.png' %}" style="width: 80px; height: 80px;">
                            <h4>Quality Food</h4>
                            <p class="mb-0">Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam
                                ipsum et, tempor voluptua sit consetetur sit. Aliquyam diam amet diam et eos sadipscing
                                labore.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About End -->

    <!-- Facts Start -->
    <section class="container-fluid bg-dark facts p-5 my-5">
        <div class="row gx-5 gy-4 py-5">
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex">
                    <div class="rounded-circle d-flex align-items-center justify-content-center mb-3"
                        style="width: 80px; height: 80px; background: #111111;">
                        <i class="fa fa-star fs-4 text-primary"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white">Years</h5>
                        <h1 class="display-5 text-secondary mb-0" data-toggle="counter-up">1234</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.2s">
                <div class="d-flex">
                    <div class="rounded-circle d-flex align-items-center justify-content-center mb-3"
                        style="width: 80px; height: 80px; background: #111111;">
                        <i class="fa fa-users fs-4 text-primary"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white">Clients</h5>
                        <h1 class="display-5 text-secondary mb-0" data-toggle="counter-up">1234</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="d-flex">
                    <div class="rounded-circle d-flex align-items-center justify-content-center mb-3"
                        style="width: 80px; height: 80px; background: #111111;">
                        <i class="fa fa-check fs-4 text-primary"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white">Awards</h5>
                        <h1 class="display-5 text-secondary mb-0" data-toggle="counter-up">1234</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.4s">
                <div class="d-flex">
                    <div class="rounded-circle d-flex align-items-center justify-content-center mb-3"
                        style="width: 80px; height: 80px; background: #111111;">
                        <i class="fa fa-mug-hot fs-4 text-primary"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white">Events</h5>
                        <h1 class="display-5 text-secondary mb-0" data-toggle="counter-up">1234</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Facts End -->


    <!-- Feature Start -->
    {% include "includes/feature_part.html" %}
    <!-- Feature End -->


    <!-- Menu Start -->
    {% include "includes/menu_part.html" with show_search=False %}
    <!-- Menu End -->

    {% include "includes/team_section.html" %}

    <!-- Testimonial Start -->
    {% include "includes/testimonial_part.html" %}
    <!-- Testimonial End -->

    <!-- Blog Start -->
    {% include "includes/blog_part.html" %}
    <!-- Blog End -->
    
{% endblock content%}